@model AmazonModel.Inventory.SalesOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Expenses/Views/Shared/_Expenses.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SalesOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltOrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltOrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentsDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentsDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentTransactionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentTransactionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderTotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderTotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatchId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingCarrier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingCarrier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tracking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tracking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MerchantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MerchantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarketplaceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarketplaceId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SalesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
