@model IEnumerable<AmazonModel.Inventory.SalesOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Inventory/Views/Shared/_Inventory.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AltOrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentsDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentTransactionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingCarrier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tracking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MerchantId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarketplaceId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AltOrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentsDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentTransactionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderTotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatchId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingCarrier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tracking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MerchantId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarketplaceId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SalesId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SalesId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SalesId })
        </td>
    </tr>
}

</table>
